header {

background-repeat: no-repeat;

}

body{
    background-color: lightblue;
    background-image: url("Resources/color.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
.field{

    background-color: rgba(255,255,255,0.8);

}
.row {
    display: flex;
    flex-wrap: wrap;
}




@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}


@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}